
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <header>
        <div class="container">
    <div class="co-name">
         <img src="{% static 'logo.png' %}" alt="CO logo" class="logo">
            <h1>DIGI FARM</h1>
    </div>
</div>
</header>
<body>
    <div class="navbar">
        <a class="Home" href="{static'index.html'%}">Home</a>
        <a href="{% static 'catalog.html' %}">Catalog</a>
        <a href="{% static 'about.html' %}">About</a>
        <a href="{% static 'contacts.html' % }">Contacts</a>
    </div>
    <div class="search-container">
        <form action="/search" method="get">
            <input type="text" placeholder="search..."  name="search">
            <button type="submit">Search</button>
        </form>
    </div>
    <main>
    <P>
        The Digi Farm website was launched to address the financial hurdles farmers face in acquiring modern equipment. It offers flexible leasing options to enable farmers to access advanced machinery without hefty upfront costs. The site aims to enhance agricultural efficiency, productivity, and sustainability by providing affordable equipment solutions and expert guidance throughout the leasing process.
    </P>

    <footer>
        <div class="container">
          <p>&copy; 2024 Digi Farm #Making farming affordable #Embracing Technology</p>
        </div>
      </footer>
</main>
</body>
</html>