{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% url 'style.css'}">
    </head>
    <header>
        <div class="container">
    <div class="co-name">
         <img src="{% url 'logo.png'%}" alt="CO logo" class="logo">
            <h1>DIGI FARM</h1>
    </div>
</div>
</header>
    <body>
        <div class="navbar">
            <a class="Home" href="{% url 'index.html'%}">Home</a>
            <a href="{% url 'catalog.html' %}">Catalog</a>
            <a href="{% url 'about.html' %}">About</a>
            <a href="{% url 'contacts.html' %}">Contacts</a>
        </div>
        <div class="search-container">
            <form action="/search" method="get">
                <input type="text" placeholder="search..."  name="search">
                <button type="submit">Search</button>
            </form>
        </div>
        <main>
        <P>Get in touch with us through the following means:</P>
    <ul>
        <li>0700111222</li>
        <li>digifarm2024co.ac.ke</li>
        <li>Youtube @ Digi Farm</li>
        <li>Instagram @ Digi Farm</li>
        <li>X @ DigiFarm</li>
    </ul>

    <footer>
        <div class="container">
          <p>&copy; 2024 Digi Farm #Making farming affordable #Embracing Technology</p>
        </div>
      </footer>
</main>
    </body>
</html>