{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="scriptjs" href="{% url 'script.js' %}"/>
    <link rel="stylesheet" href="{% staticfiles 'admin/css/style.css' %}">
  </head>
    <header>
        <div class="container">
    <div class="co-name">
         <img src="{% url 'logo.png' %}" alt="CO logo" class="logo">
            <h1>DIGI FARM</h1>
    </div>
</div>
</header>
    
    <body>
        <div class="navbar">
            <a class="Home" href="{% url 'index.html' %}">Home</a>
            <a href="{% url 'catalog.html' %}">Catalog</a>
            <a href="{% url 'about.html' %}">About</a>
            <a href="{% url 'contacts.html' %}">Contacts</a>
        </div>
        <div class="search-container">
            <form action="/search" method="get">
                <input type="text" placeholder="search..."  name="search">
                <button type="submit">Search</button>
            </form>
        </div>
        <main>
        <p>Welcome to Digi Farm website!
             We provide flexible and affordable leasing solutions tailored
              to meet needs of modern farmers. From tractors to harvestors, we've got you covered.</p>
              <section class="features">
                <div class="container">
                  <h2>Why Choose Us?</h2>
                  <div class="box">
                    <img src="{% url 'tractor.jpg' %}" alt="Tractor">
                    <h3>High-Quality Equipment</h3>
                    <p>Our leasing options offer access to top-of-the-line farm equipment.</p>
                  </div>
                  <div class="box">
                    <img src="{% url 'customer-service.jpg' %}" alt="Customer Service">
                    <h3>Exceptional Customer Service</h3>
                    <p>Our team is dedicated to providing excellent support throughout your leasing experience.</p>
                  </div>
                  <div class="box">
                    <img src="{% url 'flexible-terms.png' %}" alt="Flexible Terms">
                    <h3>Flexible Leasing Terms</h3>
                    <p>We offer customizable leasing plans to suit your farm's unique needs and budget.</p>
                  </div>
                </div>
              </section>
            <div>        
        <p>Explore our range of equipment and leasing using the button below:</p>
        <button id="catalog" onclick="openPage()">Equipment</button>
        <script>
          function openPage() {
              window.location.href ="{% url 'catalog.html'}"; // Replace 'page2.html' with the URL of the page you want to open
          }
      </script>
      </div>
      <br>
        <footer>
            <div class="container">
              <p>&copy; 2024 Digi Farm #Making farming affordable #Embracing Technology</p>
            </div>
          </footer>
        </main>
    </body>
</html>