.navbar{
    overflow:hidden;
    background-color: green;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #ddd;
    color: #ff6f00;
}

.navbar a.active {
    background-color: #666;
    color: white;
}

#catalog{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-color: #ff6f00;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.search-container {
    float: right;
}

.search-container input[type=text] {
    padding: 6px 10px;
    margin-top: 8x;
    margin-right: 16px;
    border: #ff6f00;
    font-size: 17px;
    background-color: white;
}

.search-container button {
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: orange;
font-size: 17px;
border: none;
cursor: pointer;
}

.search-container button:hover {
    background: #ff6f00;
}

main {
    padding: 2rem;
}

.logo {
    max-width: 80px; /* Adjust the maximum width as needed */
    height: auto;
  }

  .co-name {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
  }

  header h1 {
    margin: 0; /* Remove default margin */
    color: black;
  }
  
  /* Header Styles */
  header {
    display: block;
    background: #ffffff;
    color: #fff;
    
    border-bottom: #ff6f00 2px solid;
  }
  
  /* Container Styles */
  .container {
    width: 60%;
    margin: auto;
    overflow: hidden;
  }
  
  .box img{
    max-width: 90%;
    height: auto;
  }

  body {
    background-image: url('C:\Users\joeki\Documents\Notes\Code practice\Internet Project\bc1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: aqua;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
